.header-right-table,
.header-right-table_ {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.time____ {
  overflow: auto;
  max-width: 100%;
  /* background: red; */
}
.right-table {
  margin: 0;
  padding: 0;
  display: grid;
}
.time-header {
  text-align: center;

  margin: 0;
  width: 200px;
  /* border: 1px 0px 1px 0px solid rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: -1;
  padding: 0;
}
.big-table {
  display: grid;
  /* grid-template-columns: 20% 80%; */
}

.time-header > p {
  padding: 10px;
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  /* border: 20px solid; */
}
